<div class="bg-white rounded-2xl pb-4 border border-gray-200 hover:-translate-y-1 transition">
    <img
      class="w-64 h-64 p-5 object-cover"
      src="{{ imageUrl }}"
      alt="{{ productName }}"
    >
  
    <p class="font-medium mt-3">{{ productName }}</p>
  
    <p class="text-gray-500 text-sm">$ {{ price }}</p>
  
    <button
      (click)="notifyAddToCart()"
      class="border text-sm text-gray-500 rounded-full px-6 py-1 mt-5">

      <i class="fa-solid fa-cart-shopping"></i>
      <span>Add to cart</span>

    </button>
  </div>